footer {
  padding: 18px 24px;
  background-color: var(--bg);
  border-top: 1px solid #e6e7ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-top {
  display: flex;
  background-color: #d7d8da;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  padding: 18px 14px;
  border-radius: 8px;
  height: fit-content;
}

.footer-top p {
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
}

.footer-mid {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  height: fit-content;
  gap: 25px;
}

.footer-left {
  background-color: #0f172a;
  width: 500px;
  height: 300px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 18px 14px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.footer-left-logo img {
  width: 50px;
}

.footer-left-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-left-logo p {
  font-size: 28px;
  letter-spacing: 0;
}

.footer-right {
  height: 300px;
  background-color: #d7d8da;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 36px;
}

.footer-right-mid {
  position: relative;
  top: 60px;
}

.footer-right-mid ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-right-mid ul li a {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.footer-right-mid ul li a:hover {
  color: var(--azul-claro);
}

.footer-right-bottom ul {
  margin: 0;
}

.footer-right-bottom {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 40px;
  justify-content: space-between;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  width: 80%;
}

.card-footer {
  width: 240px;
  height: 100px;
  background-color: #d7d8da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
  font-size: 40px;
  cursor: pointer;
}

.card-footer:hover {
  background-color: #c9c9ca;
  color: var(--azul-claro);
}
