header {
  background: #fff;
  border-bottom: 1px solid #e6e7ea;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
}

.marca {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background: #1f2937;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.logo img {
  width: 50px;
}

.marca-text {
  display: flex;
  flex-direction: column;
}

.marca-text p {
  font-size: 16px;
  font-weight: 800;
}

.marca-text span {
  font-size: 13px;
  color: var(--cinza);
  font-weight: 500;
}

nav ul {
  display: flex;
  gap: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

nav ul li a:hover {
  color: var(--azul-claro);
}

.cta-header {
  background: var(--azul-claro);
  color: #ffff;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: 700;
  transition: all ease 0.2s;
}

.cta-header:hover {
  background: var(--azul-escuro);
  color: #fff;
  cursor: pointer;
}
