#logistica {
  background: var(--azul-marinho);
}

.logistica {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.logistica-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logistica-text h2 {
  color: white;
}

.logistica-text ul {
  margin-left: 50px;
}

.logistica-card {
  width: 450px;
}

.logistica-map {
  height: 220px;
  background: #f1f5f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--descricao);
  overflow: hidden;
}

.logistica-map img {
  width: 90%;
  margin-top: 10px;
}
