@import url("./header.css");
@import url("./hero.css");
@import url("./logistica.css");
@import url("./footer.css");

:root {
  --bg: #f3f4f7;
  --azul-claro: #0084d1;
  --azul-escuro: #00598d;
  --azul-marinho: #0f172a;
  --cinza: #6b7280;
  --card: #ffffff;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--azul-marinho);
  line-height: 1.45;
  scroll-behavior: smooth;
}

/* Utils  */

a {
  color: inherit;
  text-decoration: none;
  transition: all ease 0.2s;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 25px;
  scroll-behavior: smooth;
}

.btn-primary {
  background: var(--azul-claro);
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 800;
  font-size: 14px;
  transition: all ease 0.3s;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-primary:hover {
  background: var(--azul-escuro);
  cursor: pointer;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #d1d5db;
  color: var(--azul-marinho);
  padding: 14px 18px;
  border-radius: 8px;
  transition: all ease 0.3s;
}

.btn-secondary:hover {
  background: #d8d8da;
  cursor: pointer;
}

section {
  padding: 36px 0;
}

.descricao {
  color: var(--cinza);
  font-size: 14px;
}

.card {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eef0f3;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

/* Seção Catálogo */
.catalogo-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.catalogo-top h2 {
  margin: 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.product {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #eceff3;
}

.product img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
}

/* Seção Vantagens */
.vantagens-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

/* Seção Depoimentos */
.relatos {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px;
  margin-top: 12px;
}

.relatos blockquote {
  margin: 0;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #eceff3;
}

.relatos p {
  margin: 0 0 8px;
}

/* Seção Parceiros */
.parceiro-grid {
  display: flex;
  align-items: start;
  gap: 18px;
  margin-top: 30px;
}

.parceiro-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parceiro-text ol {
  margin-left: 50px;
}

form {
  display: grid;
  gap: 10px;
}
input,
select,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dfe3e8;
}
.row {
  display: flex;
  gap: 10px;
}
.row .col {
  flex: 1;
}

@media (max-width: 1175px) {
  .card-footer {
    width: 200px;
  }
}

@media (max-width: 1024px) {
  .card-footer {
    width: 180px;
  }

  .footer-mid {
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .card-footer {
    width: 180px;
  }

  .footer-mid {
    flex-direction: column;
  }

  .footer-right {
    width: 100%;
  }

  .footer-left {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .card-footer {
    width: 150px;
  }
}

@media (max-width: 820px) {
  .cta-header {
    display: none;
  }
}

@media (max-width: 800px) {
  .footer-top p {
    font-weight: 700;
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .card-footer {
    width: 120px;
  }
}

@media (max-width: 700px) {
  header nav {
    display: none;
  }

  .top {
    justify-content: center;
    align-items: center;
  }

  .hero {
    flex-direction: column;
    width: 100%;
  }

  .hero-card {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .hero-image {
    width: 100%;
  }

  .catalogo-top {
    text-align: center;
    justify-content: center;
  }

  .catalogo-top p {
    display: none;
  }

  #vantagens {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .logistica {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .logistica ul {
    position: relative;
    left: 170px;
    text-align: left;
  }

  .logistica-map img {
    width: 60%;
    margin-top: 10px;
  }

  #depoimentos {
    text-align: center;
  }

  .parceiro-grid {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .parceiro-grid form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .parceiro-grid input,
  select,
  textarea {
    width: 100%;
  }

  .parceiro-grid ol {
    position: relative;
    left: 170px;
    text-align: left;
  }
}

@media (max-width: 648px) {
  .card-footer {
    width: 100px;
  }
}

@media (max-width: 616px) {
  .parceiro-grid ol {
    left: 120px;
  }

  .logistica ul {
    left: 120px;
  }

  .footer-right-mid ul li a {
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .footer-top p {
    font-weight: 700;
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .card-footer {
    width: 90px;
  }
}

@media (max-width: 530px) {
  .footer-top p {
    font-weight: 700;
    font-size: 14px;
  }

  .footer-right-mid ul li a {
    font-size: 12px;
  }

  .footer-right-mid ul {
    font-size: 12px;
    gap: 10px;
  }

  .footer-right-bottom p {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .btn-primary,
  .btn-secondary {
    padding: 10px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-grid {
    display: flex;
    flex-direction: column;
  }

  .vantagens-grid {
    display: flex;
    flex-direction: column;
  }

  .parceiro-grid ol {
    left: 20px;
  }

  .logistica ul {
    left: 20px;
  }

  .footer-top {
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .card-footer {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 450px) {
  .logistica-card {
    width: 100%;
  }

  .logistica-map img {
    width: 70%;
  }

  .card-footer {
    width: 70px;
    height: 70px;
  }

  .footer-right {
    padding: 10px;
  }

  .footer-right-mid ul li a {
    font-size: 12px;
  }

  .footer-right-mid ul {
    font-size: 12px;
    gap: 10px;
  }
}

@media (max-width: 450px) {
  .logistica-card {
    width: 100%;
  }

  .logistica-map img {
    width: 70%;
  }

  .card-footer {
    width: 70px;
    height: 70px;
  }

  .footer-right {
    padding: 10px;
  }

  .footer-right-mid ul li a {
    font-size: 12px;
  }

  .footer-right-mid ul {
    font-size: 12px;
    gap: 10px;
  }
}

@media (max-width: 440px) {
  .footer-left,
  .footer-left-logo p {
    font-size: 20px;
  }

  .footer-right-mid ul li a {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .parceiro-grid ol {
    left: 0;
  }

  .logistica ul {
    left: 0;
  }

  .card-footer {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 380px) {
  .card-footer {
    width: 60px;
    height: 60px;
  }

  .footer-right-mid ul li a {
    font-size: 9px;
  }
}
